.award {
	@include padding($small-spacing null);
	max-width: 350px;

	@include media-breakpoint-up(xl) {
		@include padding(0 null);
	}

	svg {
		@include size(70px);
	}

	h6 {
		color: $white;
		font-size: 15px;
	}
}

